@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
   
}

body{
    background-color: rgb(46, 46, 46);
    font-size: 16px;
    color: hsl(234, 29%, 20%);
}

h1{
    color: hsl(234, 29%, 20%);
    padding-bottom: 15px;
    
    font-size: 2.3em;
}

main {
    height: 100vh;
    width: 100vw;
    
    
}

div#divimg {
    background: url(../image/illustration-sign-up-mobile.svg);
    height: 200px;
    width: 100%;
}

section {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 375px;
    height: 100vh;
    align-self: center;
    box-sizing: border-box;
    
}

div#divicon > p {
    font-size: 1em;
}

#divicon {
    
}

span.material-icons {
    color: hsl(4, 100%, 67%);
    padding: 10px;
}

span#firsticon {
    padding-top: 20px;
}

span#lasticon {
    padding-bottom: 40px;
}

label#labelemail {
    font-size: 0.9em;
}

input#iemail {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(185, 184, 184);
    padding: 15px;
    
}

input#isubmit {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 1.0em;
    padding: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: hsl(234, 29%, 20%);
    color: white;
}